<% if notice.present? %>
  
  <%-#This is a bootstrap class that styles the flash message-%>
  <%-#The if statement ensures there is a notice to display-%>
  <p class="alert alert-info">
    <%= notice %>
  </p>
<% end %>

<%-#Didn't have to use posts/post because post is in the same folder as this file-%>
<%= render 'post', post: @post %>